body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
}

.container {
    text-align: center;
}
.box {
    display: inline-block;
    padding: 20px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.box a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}
.box a:hover {
    text-decoration: underline;
}

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product-item {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    position: relative;
}

.product-item h2 {
    margin-top: 0;
}

.product-item .product-image {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
}

.product-item .offer-tag {
    background-color: #ff4d4d;
    color: white;
    padding: 5px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    position: absolute;
    top: 10px;
    right: 10px;
}

.product-item form {
    display: flex;
    flex-direction: column;
}

.product-item label {
    margin-top: 10px;
}

.product-item input {
    margin-top: 5px;
}

.success-message {
    color: green;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid green;
    border-radius: 5px;
    background-color: #e0ffe0;
}
